{% extends "base.html" %}
{% block head_title %} Login {% endblock %}
 {% block menulist %}
            <ul class="nav nav-list">
              <li class="nav-header">Actions</li>
              <li class="active">
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">Feedback</a>
              </li>
            </ul>
            {% endblock %}
{% block "body" %}




    <div class="container">

      <form class="form-signin" method="POST" action="">
		{% csrf_token %}
		{% if user.is_authenticated %}
		<h3> Already signed in as <font color=#0088cc>{{user}}</font></h3>
		{% else %}
        <h2 class="form-signin-heading">Please sign in</h2>
	{%endif%}      
	{{form}}
   <br>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

{% endblock %}
