            <ul class="nav nav-list">
              <li class="nav-header">Actions</li>
              <li {% if page == 'newcampaign' %}class="active"{% endif %}>
                <a href="{% url "run_campaign" %}">New campaign</a>
              </li>
              <li {% if page == 'viewcampaign' %}class="active"{% endif %}>
                <a href="{% url "view_campaign" %}">View</a>
              </li>
              <li {% if page == 'draft' %}class="active"{% endif %}>
                <a href="{% url "draft" %}">Drafts</a>
              </li>
              <li class="nav-header">Analytics</li>
              <li {% if page == 'report' %}class="active"{% endif %}>
                <a href="{% url "report" %}">Campaign Reports</a>
              </li>
              <li {% if page == 'hits' %}class="active"{% endif %}>
                <a href="{% url "hits" usid="default" %}">Open Tracking</a>
              </li>
            </ul>