            <ul class="nav nav-list">
              <li class="nav-header">Actions</li>
              <li {% if page == 'importcsv' %}class="active"{% endif %}>
                <a href="{% url "import_csv" %}">Import contacts</a>
              </li>
              <li {% if page == 'contactsview' %}class="active"{% endif %}>
                <a href="{% url "contacts_view" %}">View contacts</a>
              </li>
              <li class="nav-header">More</li>
              <li {% if page == 'contactsstatistics' %}class="active"{% endif %}>
                <a href="{% url "contacts_statistics" %}">Mailing lists</a>
              </li>
            </ul>