



<table class="table table-bordered" id="sortTableExample">
        <thead>
          <tr>
            <th class="header">#</th>
            <th class="yellow header headerSortDown">Full Name</th>
            <th class="blue header">Email</th>
            <th class="blue header">List</th>
            <th class="blue header">Subscribed</th>
            <th class="yellow header headerSortDown">Operations</th>
          </tr>
        </thead>
        <tbody>
          
          
          
        
            
            {% for contact in contacts  %}
            <tr id="row{{contact.id}}">
            <td>{{forloop.counter}}</td>
            <td>{{contact.full_name}}</td>
            <td>{{contact.mail_id}}</td>
            <td>{{contact.mail_list.title}}</td>
            <td>{{contact.subscribed}}</td>
            <td id="btn{{contact.id}}"><a class="btn btn-small btn-danger "onclick="delete_item({{contact.id}})">Delete</a></td>
          </tr>
          {% endfor %}


      </tbody>
      </table>


     

