{% extends "base.html" %}
{% block head_title %} Import Contacts {% endblock %}

{% block menulist %}
{% include "snippets/contacts_menu_snippet.html" with page='addcontact' %}
            {% endblock %}
            
{% block head %}
<link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet"> 
{% endblock %}
{% block "body" %}
<script type="text/javascript">

function mlist_options(value){

if (value == 'E')
        {
        $('#id_name').hide();
        $("label[for='id_name']").hide();
        $('#id_mail_list').show();
        $("label[for='id_mail_list']").show();
        }
if (value == 'N')
        {
         $('#id_name').show();
        $("label[for='id_name']").show();
        $('#id_mail_list').hide();
        $("label[for='id_mail_list']").hide();
        }
}


</script>

<div class="well">
 <form  enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
        <h2 class="form-signin-heading">Add contact</h2>
         <p>( Atleast an email and a group is required</a> )</p>
		{{form}}

		<br>
		<button class="btn btn-large btn-primary" type="submit">Save </button>
</form>
</div> <!-- /container -->

{% endblock %}

{% block "scripts" %}
<script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    	$('#id_Group_name').hide();
    	$("label[for='id_Group_name']").hide();
    	$('#id_Mailing_list').hide();
    	$("label[for='id_Mailing_list']").hide();
        $('#id_group').hide();
    $("label[for='id_group']").hide();
    $('#id_name').hide();
    $("label[for='id_name']").hide();
    $('#id_Date_of_Birth').datepicker({'format': 'dd-mm-yyyy'});

    mlist_options($("input:radio[name=options]:checked").val());
});


	
</script>
{% endblock %}