{% extends "base.html" %}
{% block head_title %} Campaign -- Reports {% endblock %}

{% block head %}
<link href="{{ STATIC_URL }}jqplot/jquery.jqplot.min.css" rel="stylesheet"> 
{% endblock %}

 {% block menulist %}
{% include "snippets/campaign_menu_snippet.html" with page='report' %}
            {% endblock %}
            

{% block "body" %}
{% include "snippets/pagination.html" with item=camps %}
{% for camp in camps %}

<div class="well">
<P><span class="label">Subject</span> {{camp.subject}}</p>
            <p><span class="label">Sender</span> {{camp.sender}}</p>
            <p><span class="label">Groups</span> {{camp.mailing_list.all|join:","}}</p>
            <p><span class="label">Date</span> {{camp.date_created}}</p>
            <p><span class="label">Send</span> {{camp.status}}</p>
<div id="info{{forloop.counter}}"></div>
<div id="chart{{forloop.counter}}"></div>

</div> <!-- /container -->
{% endfor %}

{% endblock %}


{% block "scripts" %}

<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/jquery.jqplot.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.barRenderer.min.js"></script>

  <!--script class="include" type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.pieRenderer.min.js"></script -->
  <script class="include" type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
  <script class="include" type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.pointLabels.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
 //return_stats("JsonTest4-087da93d-1087-4746-8dd7-9995f3826c73","chart1");
 {% for camp in camps %}
return_stats("{{camp.category}}","{{forloop.counter}}");
{%endfor%}
});



function return_stats(catname,DIV_NO){
/* -- Ajax request--*/
 $.ajax({
     type:"POST",
     url:"{% url "get_json_report" %}",
     data: {
            'category'         : catname, // 'JSONtest2-db643453-3b88-46b3-a904-dbcb4094d39c', //todo
             csrfmiddlewaretoken: '{{ csrf_token }}',
     },
     success: function(json_obj){
        if (json_obj['status'] == "success")
         {

        //function ecm_draw_chart(returned_data,DIV_ID){
             /*
         returned_data['delivered']
         unsubscribes
         invalid_email
         bounces
         repeat_unsubscribes
         unique_clicks
         blocked
         spam_drop
         date
         requests
         spamreports
         clicks
         opens
         unique_opens
                
      var data = [
        ['Delivered', json_obj['delivered']],['Bounces', json_obj['bounces']], ['Unsubscribes', json_obj['unsubscribes']], 
      ];
      var plot1 = jQuery.jqplot (DIV_ID, [data], 
        { 
          seriesDefaults: {
            // Make this a pie chart.
            renderer: jQuery.jqplot.PieRenderer, 
            rendererOptions: {
              // Put data labels on the pie slices.
              // By default, labels show the percentage of the slice.
              showDataLabels: true
            }
          }, 
          legend: { show:true, location: 'e' }
        }
      );*/

        $.jqplot.config.enablePlugins = true;
        var s1 = [ json_obj['requests'], json_obj['delivered'], json_obj['opens'], json_obj['unique_opens'], json_obj['clicks'], json_obj['unique_clicks'], json_obj['bounces'], json_obj['unsubscribes'], json_obj['repeat_unsubscribes'], json_obj['invalid_email'], json_obj['blocked'], json_obj['spam_drop'], json_obj['spamreports'] ];

        var ticks = ['Send','Delivered','Opens', 'Unique Opens', 'Clicks', 'Unique clicks', 'Bounces', 'Unsubscribe','Repeat unsub', 'Invalid Email', 'Blocked', 'Spam Drop', 'Spam Reports'];

        var full_ticks = ['Send','Delivered','Opens', 'Unique Opens', 'Clicks', 'Unique clicks', 'Bounces', 'Unsubscribes','Repeat Unsubscribes', 'Invalid Email', 'Blocked', 'Spam Drop', 'Spam Reports'];
        
        plot1 = $.jqplot('chart'+DIV_NO, [s1], {
            // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
            animate: !$.jqplot.use_excanvas,
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer,
                pointLabels: { show: true }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    ticks: ticks
                }
            },
            highlighter: { show: false }
        });
     
        $('#chart'+DIV_NO).bind('jqplotDataClick', 
            function (ev, seriesIndex, pointIndex, data) {
                $('#info'+DIV_NO).html('<span class="label">'+full_ticks[pointIndex]+'</span>  '+data[1]);
            }
        );

          return true;
            }
            $('#info'+DIV_NO).html('<div class="alert alert-error">No info avaliable !</div>');
            return false;
         }

});};
</script>
    {% endblock %}
