{% extends "base.html" %}

{% block head_title %} Contacts {% endblock %}

 {% block menulist %}
{% include "snippets/campaign_menu_snippet.html" with page='campaign' %}
            {% endblock %}

{% block "body" %}
          <div class="hero-unit">
            <h1>Campaign</h1>
            <p class="lead">Postmaster&trade; can be used for sending large number of marketing emails</p>
            <p><a href="/about/help/campaign" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>New Campaign</h2>
              <p>Create a campaign with an html template.</p>
              <p><a class="btn" href="{% url "run_campaign" %}">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>View</h2>
              <p>View status of existing campaigns </p>
              <p><a class="btn" href="{% url "view_campaign" %}">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Report</h2>
              <p>View delivery metrics of existing campaigns</p>
              <p><a class="btn" href="{% url "report" %}">View details &raquo;</a></p>
            </div>
            <!--/span-->
          </div>
          <!--/row-->

          {% endblock %}