{% extends "base.html" %}

{% block head_title %} Contacts -- Mailing lists {% endblock %}

{% block menulist %}
{% include "snippets/contacts_menu_snippet.html" with page='contactsstatistics' %}
            {% endblock %}

{% block "body" %}
<link href="{{STATIC_URL}}jquery_tablesorter/themes/blue/style.css" rel="stylesheet">
{% include "snippets/pagination.html" with item=mailing_list %}

          <div class="row-fluid">

<table class="tablesorter table table-bordered" id="contacts-table">
        <thead>
          <tr>
            <th class="header">#</th>
            <th class="yellow header headerSortDown">Group Name</th>
            <th class="yellow header headerSortDown">Contacts</th>
            <th class="yellow header headerSortDown">Operations</th>
          </tr>
        </thead>
        <tbody>

        
            
            {% for item in mailing_list  %}
            <tr id="row{{item.id}}">
            <td>{{forloop.counter}}</td>
            <td>{{item.title}}</td>
            <td>{{item.addrcount}}</td>
            <td ><a class="btn btn-small btn-info"  href="{% url "maillist_export" data_type='csv' id=item.id %}">Export CSV</a></td>
            <td ><a class="btn btn-small btn-info"  href="{% url "maillist_export" data_type='xls' id=item.id %}">Export Excel</a></td>
            <td  id="btn{{item.id}}"><a class="btn btn-small btn-danger "onclick="pre_delete({{item.id}})">Delete</a></td>
          </tr>
          {% endfor %}


      </tbody>
      </table>

          </div>
     
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Confirm action</h3>
  </div>
  <div id="dialog" class="modal-body">
    <p>Are you sure want to remove this item ? </p>
  </div>
  <div id="dialog-footer" class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" onclick="delete_item()">Yes</button>
  </div>
</div>

<div id="ecm_data_placeholder" type="hidden"></div>
          {% endblock %}


          {% block "scripts" %}
<script type="text/javascript" src="{{STATIC_URL}}jquery_tablesorter/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#contacts-table").tablesorter(); 
    } 
); 
    
function pre_delete(item_id){
    $("#ecm_data_placeholder").data("item_id",item_id);
    $('#myModal').modal();
  }


  
  function delete_item(){
   if($("#ecm_data_placeholder").data("item_id"))
    { 
      $('#myModal').modal('hide');
      }
    else
      {return false;}
  /* -- Ajax request--*/
 var item_id = $("#ecm_data_placeholder").data("item_id");

 $.ajax({
     type:"POST",
     url:"{% url "maillist_delete" %}",
     data: {
            'item_id'         : item_id, // 'JSONtest2-db643453-3b88-46b3-a904-dbcb4094d39c', //todo
             csrfmiddlewaretoken: '{{ csrf_token }}',
     },

     success: function(json_obj){
        if (json_obj['status'] == "success")
         {
   
  $("#row"+item_id).html("<td class='alert'></td><td class='alert'></td><td class='alert'></td><td class='alert'></td><td class='alert'></td><td class='alert'>Deleted</td>");
  return;
}
else{
  $("#btn"+item_id).html("<a class='errorlist'>Error</a>");
return;
}

}
}); }

</script>
{% endblock %}