{% extends "base.html" %}

{% block head_title %} Contacts {% endblock %}


{% block menulist %}
{% include "snippets/contacts_menu_snippet.html" with page='contacts' %}
            {% endblock %}

{% block "body" %}
          <div class="hero-unit">
            <h1>Contacts</h1>
            <p class="lead">Postmaster&trade; includes  powerful contacts management features , which includes importing contacts from CSV files , searching, exporting etc</p>
            <p><a href="/about/help/contact" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Import</h2>
              <p>Import contacts from a standard CSV file</p>
              <p><a class="btn" href="{% url "import_csv" %}">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>View / search</h2>
              <p>Supports standard list functions ,search, delete, export, etc.</p>
              <p><a class="btn" href="{% url "contacts_view" %}">Coming soon &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Export</h2>
              <p>Export contats  to formats like CSV , Exel, etc.</p>
              <p><a class="btn" href="#">Coming soon &raquo;</a></p>
            </div>
            <!--/span-->
          </div>
          <!--/row-->

          {% endblock %}
