{% extends "base.html" %}

{% block head_title %} View Contacts {% endblock %}

 {% block menulist %}
            <ul class="nav nav-list">
              <li class="nav-header">Actions</li>
              <li >
                <a href="{% url "import_csv" %}">Import contacts</a>
              </li>
              <li >
                <a href="{% url "contacts_view" %}">View contacts</a>
              </li>
              <li class="nav-header">Analytics</li>
              <li class="active">
                <a href="#">Statistics</a>
              </li>
            </ul>
            {% endblock %}

{% block "body" %}
          <div class="row-fluid">

<table class="table table-bordered" id="sortTableExample">
        <thead>
          <tr>
            <th class="header">#</th>
            <th class="yellow header headerSortDown">Name</th>
            <th class="yellow header headerSortDown">Contacts</th>
          </tr>
        </thead>
        <tbody>
          
          
          
        <tr>
            
            {% for item in mailing_list  %}
            <td>{{forloop.counter}}</td>
            <td>{{item.title}}</td>
            <td>{{item.addrcount}}</td>
          </tr>
          {% endfor %}


      </tbody>
      </table>

          </div>
     

          {% endblock %}
