{% extends "base.html" %}

{% block head_title %} View Contacts {% endblock %}

{% block menulist %}
{% include "snippets/contacts_menu_snippet.html" with page='contactsview' %}
            {% endblock %}

{% block "body" %}
<link href="{{STATIC_URL}}jquery_tablesorter/themes/blue/style.css" rel="stylesheet">

<div id="ecm_data_placeholder" type="hidden"></div>


<div class="well">
  <input id="key" type="text" class="input-medium search-query">
  <button id="csearch" class="btn">Search</button></div>

<button class="btn btn-small" onclick="delete_multiple();">Delete selected</button>

<div id="contacts" class="row-fluid">
<table class="tablesorter table table-bordered" id="contacts-table">
        <thead>
          <tr>
            <th class="header"><span><input type="checkbox" id="action-toggle" style="display: inline-block;"></span>&nbsp;</th>
            <th class="yellow header headerSortDown">Full Name</th>
            <th class="blue header">Email</th>
            <th class="blue header">Group</th>
            <th class="blue header">Remarks</th>
            <th class="yellow header headerSortDown">Operations</th>
          </tr>
        </thead>
        <tbody>
          
          
  
      
            
            {% for contact in contacts  %}
            <tr id="row{{contact.id}}">
            <td><span><input type="checkbox" class="checkboxselect" id="{{contact.id}}" style="display: inline-block;"></span>&nbsp;</td>
            <td>{{contact.full_name}}</td>
            <td>{{contact.mail_id}}</td>
            <td>{{contact.mail_list.title}}</td>
            <td>{% if contact.spam_flag %}Spam,{% endif %}{% if contact.unsub_flag %}Unsubscribed,{% endif %}{% if contact.block_flag %}Blocked,{% endif %}{% if contact.bounce_flag %}Bounced {% endif %}</td>
            <td id="btn{{contact.id}}"><a class="btn btn-small btn-danger "onclick="pre_delete({{contact.id}})">Delete</a></td>
          </tr>
          {% endfor %}


      </tbody>
      </table>

          </div>

          {% include "snippets/pagination.html" with item=contacts %}

     <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Confirm action</h3>
  </div>
  <div id="dialog" class="modal-body">
    <p>Are you sure want to remove this item ? </p>
  </div>
  <div id="dialog-footer" class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" onclick="delete_single()">Yes</button>
  </div>
</div>

          {% endblock %}

{% block "scripts" %}
<script type="text/javascript" src="{{STATIC_URL}}jquery_tablesorter/jquery.tablesorter.min.js"></script> 
<script type="text/javascript">


$(document).ready(function(){
  $("#contacts-table").tablesorter({headers: { 0: { sorter: false} }}); 

  $("#action-toggle").change(function(){
        var c = this.checked;
        $(".checkboxselect").prop('checked',c);
         });

  $("#csearch").click(function(){
    $("#contacts").hide()
    key = $('#key').val();
    $.ajax({
     type:"POST",
     url:"{% url "contacts_search" %}",
     data: {
             query         : key, 
             csrfmiddlewaretoken: '{{ csrf_token }}',
     },
     success: function(html){

         
           $("#contacts").html(html);
           $("#contacts").show();
           $("#contacts-table").tablesorter({headers: { 0: { sorter: false} }}); 
           $("#action-toggle").change(function(){
        var c = this.checked;
        $(".checkboxselect").prop('checked',c);
         });
           
       }
     });


    });
});
</script>
  
  <script type="text/javascript">

  function delete_multiple(){
 var sel=false;
 $('.checkboxselect').each(function(){
  if (this.checked)
  {
    sel = true;
  }
 });
 if(sel == true)
  {
    var r=confirm("Are you sure want to delete all selected items ?");
  }
else{
      alert("Select atlest one item .. ");
      return;
    }
if (r==false)
  {
    return;
  }
        
    $('.checkboxselect').each(function () {
           if (this.checked) {

            //console.log($(this).attr('id')); 
               //console.log($(this).val());
               con_id = $(this).attr('id'); 
               delete_item(con_id);
           }
});
  }
  function pre_delete(item_id){
    $("#ecm_data_placeholder").data("item_id",item_id);
    $('#myModal').modal();
  }

  function delete_single(){
    if($("#ecm_data_placeholder").data("item_id"))
    {
      $('#myModal').modal('hide');
      var item_id = $("#ecm_data_placeholder").data("item_id");
      delete_item(item_id);
        }
    else
      {return false;}
      
  }
  function delete_item(item_id){
  /* -- Ajax request--*/
 $.ajax({
     type:"POST",
     url:"{% url "contacts_delete" %}",
     data: {
            'item_id'         : item_id, // 'JSONtest2-db643453-3b88-46b3-a904-dbcb4094d39c', //todo
             csrfmiddlewaretoken: '{{ csrf_token }}',
     },

     success: function(json_obj){
        if (json_obj['status'] == "success")
         { 

  $("#row"+item_id).html("<td class='alert'></td><td class='alert'></td><td class='alert'><td class='alert'><td class='alert'></td><td class='alert'>Deleted</td>");
  return;
}
else{
   $("#btn"+item_id).html("<a class='errorlist'>Error</a>");
return;
}

}
}); }
</script>
{% endblock %}