{% extends "base.html" %}

{% block head_title %} View Contacts {% endblock %}

{% block menulist %}
{% include "snippets/contacts_menu_snippet.html" with page='contactsview' %}
            {% endblock %}

{% block "body" %}





<div class="well">
  <input id="key" type="text" class="input-medium search-query">
  <button id="csearch" class="btn">Search</button></div>

<div id="contacts" class="row-fluid">
<table class="table table-bordered" id="sortTableExample">
        <thead>
          <tr>
            <th class="header">#</th>
            <th class="yellow header headerSortDown">Name</th>
            <th class="blue header">Email</th>
            <th class="blue header">List</th>
            <th class="blue header">Subscribed</th>
          </tr>
        </thead>
        <tbody>
          
          
          
        <tr>
            
            {% for contact in contacts  %}
            <td>{{forloop.counter}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.mail_id}}</td>
            <td>{{contact.mail_list.title}}</td>
            <td>{{contact.subscribed}}</td>
          </tr>
          {% endfor %}


      </tbody>
      </table>

          </div>

          {% include "snippets/pagination.html" with item=contacts %}

     

          {% endblock %}

{% block "scripts" %}
<script type="text/javascript">


$(document).ready(function(){
  $("#csearch").click(function(){
    $("#contacts").hide()
    key = $('#key').val();
    $.ajax({
     type:"POST",
     url:"{% url "contacts_search" %}",
     data: {
             query         : key, 
             csrfmiddlewaretoken: '{{ csrf_token }}',
     },
     success: function(html){

         
           $("#contacts").html(html);
           $("#contacts").show()
           
       }
     });


    });
});
  
</script>
{% endblock %}