{% extends "base.html" %}
{% block head_title %} Edit Contacts {% endblock %}

{% block menulist %}
{% include "snippets/contacts_menu_snippet.html" with page='editcontact' %}
            {% endblock %}
            
{% block head %}
<link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet"> 
{% endblock %}
{% block "body" %}


<div class="well">
 <form  enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
        <h2 class="form-signin-heading">Edit contact</h2>
         <p>( Atleast an email and a group is required</a> )</p>
		{{form}}

		<br>
		<button class="btn btn-large btn-primary" type="submit">Save </button>
</form>
</div> <!-- /container -->

{% endblock %}
{% block "scripts" %}
<script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#id_Date_of_Birth').datepicker({'format': 'dd-mm-yyyy'});
    });
</script>
{% endblock %}