{% extends "base.html" %}

{% block head_title %} Contacts {% endblock %}

 {% block menulist %}
            <ul class="nav nav-list">
              <li class="nav-header">Actions</li>
              <li class="active">
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/about/help">Help</a>
              </li>
              <li>
                <a href="/about/feedback">Feedback</a>
              </li>
            </ul>
            {% endblock %}

{% block "body" %}
          <div class="hero-unit">
            <h1>Postmaster&trade; </h1>
            <p class="lead">Welcome to Postmaster&trade;. a powerful email marketing application </p>
            <p><a href="/about/help/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>

          {% endblock %}