{% extends "base.html" %}
{% block head_title %} Import Contacts {% endblock %}

{% block menulist %}
{% include "snippets/contacts_menu_snippet.html" with page='importcsv' %}
            {% endblock %}
            

{% block "body" %}
<script type="text/javascript">

function content_select(value){

if (value == 'E')
		{
    	$('#id_name').hide();
    	$("label[for='id_name']").hide();
    	$('#id_group').show();
    	$("label[for='id_group']").show();
		}
if (value == 'N')
		{
    	 $('#id_name').show();
    	$("label[for='id_name']").show();
    	$('#id_group').hide();
    	$("label[for='id_group']").hide();
		}
}


</script>
<div class="well">
 <form  enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
        <h2 class="form-signin-heading">Import contacts</h2>
         <p>( you can use standard CSV file, for example <a href="{{STATIC_URL}}assets/sample.csv">sample.csv</a> )</p>
		{{iform}}
		<br>
		<button class="btn btn-large btn-primary" type="submit">Save </button>
</form>
</div> <!-- /container -->

{% endblock %}

{% block "scripts" %}
<script type="text/javascript">
$(document).ready(function(){
$('#id_group').hide();
$("label[for='id_group']").hide();
$('#id_name').hide();
$("label[for='id_name']").hide();

});
	
</script>
{% endblock %}
