{% extends "base.html" %}
{% block head_title %} Login {% endblock %}

{% block menulist %}
{% include "snippets/contacts_menu_snippet.html" with page='importcsv' %}
            {% endblock %}
            

{% block "body" %}

<div class="hero-unit">
 <form  enctype="multipart/form-data" method="post" action="">
	{% csrf_token %}
        <h2 class="form-signin-heading">Import contacts</h2>
		{{iform}}
		<br>
		<button class="btn btn-large btn-primary" type="submit">Save </button>
</form>
</div> <!-- /container -->

{% endblock %}
