<!doctype html>
{% load url from future %}
<html>
  <head>
    <meta charset="utf-8">
      <title>Postmaster - {% block head_title %}{% endblock %}</title>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      @media(max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet"> 
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/main.css" rel="stylesheet">
    
    {% block head %}{% endblock %}
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Postmaster &trade;</a>
          <div class="nav-collapse collapse">
            {% if user.is_authenticated %}
            <p class="navbar-text pull-right">Logged in as <a class="">{{user}}</a></p>
            {% endif %}


            {%block menu%}
            <ul class="nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="{% url "campaign" %}">Campaigns</a>
              </li>
              <li>
                <a href="{% url "import_csv" %}">Import</a>
              </li>
            </ul>
            {% endblock %}


          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">

            {% block menulist %}
            <ul class="nav nav-list">
              <li class="nav-header">Actions</li>
              <li class="active">
                <a href="#">Import contacts</a>
              </li>
              <li>
                <a href="#">View contacts</a>
              </li>
              <li>
                <a href="#">Send campaigns</a>
              </li>
              <li>
                <a href="#">View campaigns</a>
              </li>
              <li class="nav-header">Analytics</li>
              <li>
                <a href="#">Bounces</a>
              </li>
              <li>
                <a href="#">Blocks</a>
              </li>
              <li>
                <a href="#">Unsubscribes</a>
              </li>
              <li>
                <a href="#">Opens</a>
              </li>
            </ul>
            {% endblock %}


          </div>
          <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
        {% if messages %}
           <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
          {% block "body" %}
          <div class="hero-unit">
            <h1>Welcome</h1>
            <p class="lead">With this application you can send emails to large number of users.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Features</h2>
              <p>Asynchronous email sending engine allows you to send emails without that loading page on your browser.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Editors</h2>
              <p>Supports multiple type of templates, like zip, plain html,wysiwyg editor etc</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Contats</h2>
              <p>Includes an optional unsubscribe link</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
          {% endblock %}



        </div>
        <!--/span-->
      </div>
      <!--/row-->
      <hr>
      <footer>
        <p>&copy; 2013 All rights reserved</p>
      </footer>
    </div>
    <!--/.fluid-container-->
  </body>

</html>