{% extends "base.html" %}

{% block head_title %} Open tracking {% endblock %}

{% block menulist %}
{% include "snippets/campaign_menu_snippet.html" with page='hits' %}
            {% endblock %}

{% block "body" %}






{% include "snippets/pagination.html" with item=hits %}

<div id="contacts" class="row-fluid">
<table class="table table-bordered" id="sortTableExample">
        <thead>
          <tr>
            <th class="header">#</th>
            <th class="yellow header headerSortDown">Full Name</th>
            <th class="blue header">Email</th>
 
          </tr>
        </thead>
        <tbody>
          
          
          
        <tr>
            
            {% for contact in hits  %}
            <td>{{forloop.counter}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.mail_id}}</td>
          </tr>
          {% endfor %}


      </tbody>
      </table>

          </div>

          
     

          {% endblock %}

