{% extends "base.html" %}

{% block head_title %} Campaigns {% endblock %}

{% block "body" %}

        <p class="lead">Import a template select a category and thats it !</p>
        <p>Use <a href="/">Mailer </a> to send mass E-mail campains.</p>


    <div class="container">
      <form enctype="multipart/form-data" method="POST">
		{% csrf_token %}
        <h2 class="form-signin-heading">Run Campain</h2>
		{{ cform}}
<br>
        <button class="btn btn-large btn-primary" type="submit">Save </button>
      </form>

    </div> <!-- /container -->

{% endblock %}
