{% extends "base.html" %}

{% block head_title %} New Campaign {% endblock %}

 {% block menulist %}
{% include "snippets/campaign_menu_snippet.html" with page='newcampaign' %}
            {% endblock %}

{% block "body" %}

    <div class="container">
      <form enctype="multipart/form-data" method="POST">
		{% csrf_token %}
        <h2 class="form-signin-heading">Run Campaign</h2>
		{{ cform}}
<br>
        <button class="btn btn-large btn-primary" type="submit">Save & Run </button>
      </form>

    </div> <!-- /container -->

{% endblock %}


