{% extends "base.html" %}

{% block head_title %} Templates {% endblock %}

 {% block menulist %}
 {% include "snippets/template_menu_snippet.html" with page='main' %}
             {% endblock %}

{% block "body" %}
          <div class="hero-unit">
            <h1>Templates</h1>
            <p class="lead">Postmaster&trade; includes  html template upload features , templates can be used to send visually appealing emails to masses</p>
            <p><a href="/about/help/templates" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
                      <!--/span-->
            <div class="span4">
              <h2>Add</h2>
              <p>Add new templates</p>
              <p><a class="btn" href="{% url "templates_new" %}">View details &raquo;</a></p>
            </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Manage</h2>
              <p>View existing email templates, delete unused templates, etc</p>
              <p><a class="btn" href="{% url "templates_view" %}">View details &raquo;</a></p>
            </div>

            <!--/span-->
          </div>
          <!--/row-->

          {% endblock %}