{% extends "base.html" %}
{% load thumbnail %}

{% block head_title %} View Templates {% endblock %}

 {% block menulist %}
 {% include "snippets/template_menu_snippet.html" with page='view' %}
             {% endblock %}

{% block "body" %}
<div id="ecm_data_placeholder" type="hidden"></div>
<script type="text/javascript">
function delete_t(tid)
{$("#ecm_data_placeholder").data("tid",tid);}
</script>

{% include "snippets/pagination.html" with item=mailtemplate %}
          <div class="row-fluid">

             
            {% for mt in mailtemplate %}  
            <div class="well"> 
     
     <table class="table" id="sortTableExample">
       <thead>
          <tr>
            <th class="header">#</th>
            <th class="header">Name</th>
            <th class="header">Thumbnail</th>
            <th class="header">Operations</th>
          </tr>
        </thead>
                <tbody>
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{mt.name}}</td>
    <td>{% thumbnail mt.thumbnail "100x100" crop="center" as im %}
         <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" >
         {% empty %}
         <img src="{{ STATIC_URL }}img/no_thumb.jpg" class="img-rounded" width="100" height="100" >
        {% endthumbnail %}
      </td>
    
    <td><a  href="{% url "templates_preview" usid=mt.id %}" target="_blank" class="btn btn-info">Preview</a> </td>
    <td><a  href="{{ MEDIA_URL }}{{mt.zipfile}}" target="_blank" class="btn btn-primary">Download</a></td>
    <td><button  onclick="delete_t({{mt.id}})"  class="delete btn btn-danger">Delete</button> </td>
</tr>
</tbody>
</table>
</div>
            
            {% endfor %}

      </div>


            
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Confirm action</h3>
  </div>
  <div id="dialog" class="modal-body">
    <p>Are you sure want to remove this template ? </p>
  </div>
  <div id="dialog-footer" class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" onclick="clean_post()">Yes</button>
  </div>
</div>

          {% endblock %}

          {% block "scripts" %}
<script type="text/javascript">


$(document).ready(function(){
  $(".delete").click(function(){
  $('#myModal').modal()
    });
});
  
  function clean_post(){
  $("#dialog").html("<p> Please wait ..</p>");
  $("#dialog-footer").hide()
  $("#myModalLabel").html("<p> Cleaning up</p>");
  var tid = $("#ecm_data_placeholder").data("tid");
  window.location.href="/ecm/templates-delete/"+tid+"/";

}
</script>
{% endblock %}