{% extends "base.html" %}

{% block head_title %} Add New Template {% endblock %}

 {% block menulist %}
 {% include "snippets/template_menu_snippet.html" with page='add' %}
             {% endblock %}

{% block "body" %}
         <div class="well">
 <form  enctype="multipart/form-data" method="post" action="">
  {% csrf_token %}
        <h2 class="form-signin-heading">New Email Template</h2>
        <p>(Structure of the template zip file as per <a href="{{STATIC_URL}}assets/sample.zip">sample.zip</a>)</p>
    {{form.as_p}}

    <button class="btn btn-large btn-primary" type="submit">Save </button>
</form>
</div> <!-- /container -->

          {% endblock %}