{% extends "base.html" %}

{% block head_title %} View Campaigns {% endblock %}

 {% block menulist %}
{% include "snippets/campaign_menu_snippet.html" with page='viewcampaign' %}
            {% endblock %}

{% block "body" %}
<link href="{{STATIC_URL}}jquery_tablesorter/themes/blue/style.css" rel="stylesheet">
  {% include "snippets/pagination.html" with item=camps %}
         <div class="row-fluid">


<table class="tablesorter table table-bordered" id="sortTableExample">
        <thead>
          <tr>
            <th class="header">#</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Options</th>
            <th>Type</th>
            <th>Sender</th>
            <th>Groups</th>
            <th>Date</th>
            <th>Sent</th>
          </tr>
        </thead>
        <tbody>
          
          
          
        <tr>
            
            {% for camp in camps  %}
            <td>{{forloop.counter}}</td>
            <td>{{camp.campaign_name}}</td>
            <td>{{camp.subject}}</td>
            <td>{% if camp.send_options == 'Q' %}<label class="label label-success">Quick</label>{% else %}<label class="label label-inverse">Normal</label>{% endif %}</td>
            <td>{% if camp.campaign_opt == 'T' %}<label class="label label-inverse">Test</label>
            {% elif camp.campaignschedule_set.all %}
            <label class="label label-info">Scheduled</label> <br>{{camp.campaignschedule_set.all.0.schedule_date}}
            {% endif %}</td>
            <td>{{camp.sender}}</td>
            <td>{{camp.mailing_list.all|join:","}}</td>
            <td>{{camp.date_created}}</td>
            <td>{%if camp.status %}<label class="label label-info">Yes</label>{% else %}<label class="label label-warning">No</label>{% endif %}</td>
          </tr>
          {% endfor %}


      </tbody>
      </table>

          </div>
     
          {% endblock %}

                    {% block "scripts" %}
<script type="text/javascript" src="{{STATIC_URL}}jquery_tablesorter/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#sortTableExample").tablesorter(); 
    } 
); 
</script>
{% endblock %}
          