{% extends "base.html" %}

{% block head_title %} View Campaigns {% endblock %}

 {% block menulist %}
{% include "snippets/campaign_menu_snippet.html" with page='viewcampaign' %}
            {% endblock %}

{% block "body" %}
<link href="{{STATIC_URL}}jquery_tablesorter/themes/blue/style.css" rel="stylesheet">
  {% include "snippets/pagination.html" with item=camps %}
         <div class="row-fluid">


<table class="tablesorter table table-bordered" id="sortTableExample">
        <thead>
          <tr>
            <th class="header">#</th>
            <th class="yellow header headerSortDown">Subject</th>
            <th class="blue header">Sender</th>
            <th class="blue header">Groups</th>
            <th class="blue header">Date</th>
            <th class="blue header">Sent</th>
          </tr>
        </thead>
        <tbody>
          
          
          
        <tr>
            
            {% for camp in camps  %}
            <td>{{forloop.counter}}</td>
            <td>{{camp.subject}}</td>
            <td>{{camp.sender}}</td>
            <td>{{camp.mailing_list.all|join:","}}</td>
            <td>{{camp.date_created}}</td>
            <td>{%if camp.status %}<label class="label label-info">Yes</label>{% else %}<label class="label label-warning">No</label>{% endif %}</td>
          </tr>
          {% endfor %}


      </tbody>
      </table>

          </div>
     
          {% endblock %}

                    {% block "scripts" %}
<script type="text/javascript" src="{{STATIC_URL}}jquery_tablesorter/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#sortTableExample").tablesorter(); 
    } 
); 
</script>
{% endblock %}
          